/* General */

body {
  font-family: Montserrat, sans-serif;
}

p {
  color: rgb(122, 122, 122);
}

/* Color */

.coloured-section {
  background-color: #EFFFFD;
  color: black;
}

.white-section {
  background-color: #fff;
  color: black;
}

/* Container */

#title .container-fluid {
  padding: 3% 10% 7%;
  text-align: center;
}

#about .container-fluid {
  text-align: left;
  padding: 7% 15%;
}

.container-fluid {
 padding: 7% 15%;
 text-align: center;
}

/* Navbar */

.website-logo {
  width: 3rem;
}

.navbar {
  padding-bottom: 6rem;
}

.nav-item {
  font-family: Montserrat-light;
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* Title */

.title-name {
  font-family: Sacramento;
  font-size: 3rem;
  color: #11999E;
}

.title-heading {
  font-size: 3rem;
  font-weight: 600;
  color: #11999E;
}

.profile-picture {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 100%;
  margin-left: 8rem;
  display: block;
}

.title-icon {
  width: 5rem;
  margin: 2rem 0 0 1rem;
}

/* About */

.mini-heading {
  color: #11999E;
  font-size: 1rem;
  font-weight: 400;
  
  padding-top: 0.5rem;
}

.giphy-embed {
  height: 20rem;
}

.section-heading {
  color: #11999E;
  font-size: 2rem;
  font-weight: 600;
}

.mini-section-heading {
  color: #11999E;
  font-weight: 600;
  margin-top: 1rem;
}

.text {
  margin-bottom: 0.2rem;
}

/* skills */

.skills-icon {
  height: 10rem;
  margin: 3rem 0;
}

/* Footer */

.social-icon {
  font-size: 1.5rem;
  padding: 4rem 1rem;
}

.social-icon:hover {
  color: rgb(121, 121, 121);
}